<div class="devise">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal", method: :put}) do |f| %>

      <legend>User Update</legend>

      <p>Once you have registered for FinalForms, you will receive an email prompting you to confirm and complete your registration.</p>

      <%= render partial: 'partials/errors', locals: {obj: resource} %>

    <div class="control-group">
      <%= f.label :first_name, "Name: ", :class => "req control-label" %>
      <div class="controls controls-row">
	<%= f.text_field :first_name, placeholder: "First", :class => "span2" %>
	<%= f.text_field :last_name, placeholder: "Last", :class => "span2" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, "Email Address: ", :class => "req control-label" %>
      <div class="controls controls-row">
	<%= f.email_field :email, placeholder: "parent@example.com", class: "span4" %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :password, :class: "control-label" %>
      <div class="controls controls-row">
	<%= f.password_field :password, autocomplete: "off", class: "span4" %>
	<span class="help-block">leave blank if you don't want to change it</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, :class: "control-label" %>
      <div class="controls controls-row">
	<%= f.password_field :password_confirmation, class: "span4" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :current_password, :class: "control-label" %> 
      <div class="controls controls-row">
	<%= f.password_field :current_password, class: "span4" %>
	<span class="help-block">We need your current password to confirm your changes</span>
      </div>
    </div>

    <%= render partial: 'partials/submit', locals: {f: f, text: 'Parent'} %>

  <% end %>
      
  </div>
</div>
<%= render "devise/shared/links" %>
