<% content_for :bodyclass do %>devise<% end %>
    
<div class="row">
  <div class="panel wide">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

    <%= f.hidden_field :role, value: @role %>

    <legend><%= @role.capitalize %> Registration</legend>

    <ol>
      <li>Register as a <%= @role %> below.</li>
      <li>Check your email (at the address supplied below).</li>
      <li>You will receive an email within 5 minutes prompting you to confirm and complete your profile.<br />
	<em>If you do not receive an email, check your spam folder. If still missing, email <a href="mailto:<%= SUPPORT_EMAIL %>?subject=Confirmation Email Never Received..."><%= SUPPORT_EMAIL %></a>.</em></li>
      <li>You will then be signed in and able to find agreements!</li>
    </ol>

    <hr />

    <%= render partial: 'partials/errors', locals: {obj: resource} %> 

    <div class="control-group">
      <%= f.label :first_name, "Your Name: ", class: "req control-label" %>
      <div class="controls controls-row">
	<%= f.text_field :first_name, placeholder: "First", class: "span2" %>
	<%= f.text_field :last_name, placeholder: "Last", class: "span2" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, "Email Address: ", class: "req control-label" %>
      <div class="controls controls-row">
	<%= f.email_field :email, placeholder: "user@example.com", class: "span4" %>
      </div>
    </div>


    <%= render partial: 'partials/submit', locals: {f: f, override: 'Register'} %>
    
    <hr />

    <p style="text-align: center;"><em>If you believe you have already registered, please <strong><a href="/login">sign in</a></strong> or <strong><a href="/d/users/password/new">request a new password</a></strong>.</em></p>
    <%#= render "devise/shared/links" %>

  <% end %>
  </div>
</div>      
