<%= form_for(@counter_agreement, remote: true, html: {multipart: true}) do |f| %>

  <p>Propose a change to one or all fields. If your terms are agreeable the other party will accept or provide feedback</p>

  <div class="control-group">
    <%= f.label :price, "New Price Per Unit:", class: "control-label" %>
    <div class="controls controls-row">
      <div class="input-prepend">
	<span class="add-on">$</span>
	<%= f.text_field :price, placeholder: @counter_agreement.agreement.price, class: "span2" %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :quantity, "New Quantity:", class: "control-label" %>
    <div class="controls controls-row">
      <div class="input-append">
	<%= f.text_field :quantity, placeholder: @counter_agreement.agreement.quantity, class: "span2" %>
	<span class="add-on" id="quantity_add_on"><%= @counter_agreement.agreement.selling_unit %></span>
      </div>
      <span class="help-inline">Number of units</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reasons, "Reasons:", class: "control-label" %>
    <div class="controls controls-row">
      <%= f.text_area :reasons, rows: 2, class: "span3" %>
      <span class="help-inline">Share reasoning behind this counter proposal.</span>
    </div>
  </div>
  
  <%= render partial: 'partials/submit', locals: {f: f, override: 'Propose Changes' } %>

<% end %>
