<ul id="cat-nav" class="nav nav-tabs">
  <% Category.roots.each do |c| %>
  <li class="dropdown <%= (!params['cat_id'].blank? and c.self_and_descendant_ids.include?(params['cat_id'].to_i)) ? 'active' : '' %>"><%= link_to raw(c.name + ' <b class="caret" style="margin-top: 9px;"></b>'), {cat_id: c.id}, class: "dropdown-toggle", id: "dLabel", role: "button" %>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% c.children.each do |cc| %>
      <li class="<%= (!params['cat_id'].blank? and cc.self_and_descendant_ids.include?(params['cat_id'].to_i)) ? 'active' : '' %>"><%= link_to cc.name, {cat_id: cc.id}, tabindex: "-1" %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <li class="pull-right <%= params['commit'] == 'Filter Agreements' ? 'active' : '' %>" id="filter-toggle">
    <a title="Advanced search options" href="#" data-toggle="collapse" data-target="#product-filter"><i class="icon-cog"></i> <b class="caret" style="margin-top: 9px;"></b></a>
  </li>
</ul>

<div class="row">
  <div class="span12 input-row">
    <div class="row">
      <div id="product-filter" class="collapse <%= params['commit'] == 'Filter Agreements' ? 'in' : '' %>">
	<%= form_tag agreements_path, method: :get, id: "agreement-filter", class: "form-horizontal" do %>

	<%= hidden_field_tag(:sort, params[:sort]) unless params[:sort].blank? %>
	<%= hidden_field_tag(:direction, params[:direction]) unless params[:direction].blank? %>
	<%= hidden_field_tag(:cat_id, params[:cat_id]) unless params[:cat_id].blank? %>

	<div class="span12">
	  <% if current_user.producer? %>
	    <h4 style="margin-left: 20px;">Advanced Producer Filters</h4>
	  <% else %>
	    <h4 style="margin-left: 20px;">Advanced Agreement Filters</h4>
	  <% end %>
	</div>
	<div class="span6">
	  <div class="control-group">
	    <label for="distance" class="control-label">Within:</label>
	    <div class="controls controls-row">
	      <%= select_tag :distance, options_for_select(DISTANCES.map{|d| [d.second, d.first]}, params[:distance].blank? ? '' : params[:distance]), {prompt: "-- Please Select --", class: "span3"} %>
	    </div>
	  </div>

	  <% if current_user.producer? %>
	  <div class="control-group">
	    <label for="min_price" class="control-label">Price Options:</label>
	    <div class="controls controls-row">
	      <div class="input-prepend">
		<span class="add-on">$</span>
		<%= text_field_tag :min_price, params[:min_price].blank? ? '' : params[:min_price], placeholder: "Min...", class: "span1" %>
	      </div>
	      &nbsp; &lt; &nbsp;
	      <div class="input-prepend">
		<span class="add-on">$</span>
		<%= text_field_tag :max_price, params[:max_price].blank? ? '' : params[:max_price], placeholder: "Max...", class: "span1" %>
	      </div>
	      per unit
	    </div>
	  </div>

	  <div class="control-group">
	    <label for="min_quantity" class="control-label">Quantity Options:</label>
	    <div class="controls controls-row">
	      <div class="input-append">
		<%= text_field_tag :min_quantity, params[:min_quantity].blank? ? '' : params[:min_quantity], placeholder: "Min...", class: "span1" %>
		<span class="add-on">units</span>
	      </div>
	      &nbsp; &lt; &nbsp;
	      <div class="input-append">
		<%= text_field_tag :max_quantity, params[:max_quantity].blank? ? '' : params[:max_quantity], placeholder: "Max...", class: "span1" %>
		<span class="add-on">units</span>
	      </div>
	    </div>
	  </div>

	  <% else %>

	  <div class="control-group">
	    <label for="size" class="control-label">Only Sizes:</label>
	    <div class="controls controls-row">
	      <%= select_tag :size, options_for_select(SIZES.map{|s| [s.second, s.first]}, params[:size].blank? ? '' : params[:size]), {prompt: "-- Please Select --", class: "span4"} %>
	    </div>
	  </div>

	  <div class="control-group">
	    <label for="growing_methods" class="control-label">Growing Methods:</label>
	    <div class="controls controls-row">
	      <%= select_tag :growing_methods, options_for_select(GROWING_METHODS.map{|g| [g.second, g.first]}, params[:growing_methods].blank? ? '' : params[:growing_methods]), {prompt: "-- Please Select --", class: "span4"} %>
	    </div>
	  </div>

	  <% end %>
	  <div class="control-group">
	    <div class="controls controls-row">
	      <% unless current_user.producer? %>
	        <%= submit_tag 'Filter Producers', :disable_with => 'Searching Items...', :class => "btn btn-warning"  %>
	        <label class="checkbox" style="display: inline-block;"><%= check_box_tag :show_agreements, "yes", params[:show_agreements].blank? ? false : true %> Only show posted supply.</label>
	      <% else %>
	        <%= submit_tag 'Filter Agreements', :disable_with => 'Searching...', :class => "btn btn-warning"  %>
	      <% end %>
	    </div>
	  </div>
	</div>
	<div class="span6">
	</div>
	<% end %>
	<div style="height: 30px;"></div>
      </div>
    </div>
  </div>
</div>
