<% if @admins.any? %>
  <% @admins.each do |admin| %>
    <%= content_tag_for :tr, admin do %>
      <td class='name <%= (params[:sort] == "last_name") ? "sorted" : "" %>'>
	<%= link_to(admin.formal_name, admin) %>
      </td>

      <td class='login <%= (params[:sort] == "current_sign_in_at") ? "sorted" : "" %>'>
        <%= admin.last_sign_in_at ? admin.last_sign_in_at.strftime("%b %-d %I:%M %P") : "Never" %>
      </td>
      <td>
	<div class="btn-toolbar visible-desktop">
	  <div class="btn-group">
	    <%= link_to raw('<i class="icon-edit"></i> Edit'), edit_admin_path(admin), title: "Edit this admin", class: "btn btn-small" %>
	    <%= link_to raw('<i class="icon-trash"></i> Delete'), admin_path(admin, full_params.to_hash), data: {confirm: 'Are you sure you want to permanently delete this admin and all their information?'}, title: "Delete this admin from the system", method: :delete, class: "btn btn-small" %>
          </div>
	</div>
	<div class="btn-toolbar hidden-desktop">
	  <div class="btn-group">
	    <%= link_to raw('<i class="icon-edit"></i>'), edit_admin_path(admin), title: "Edit this admin", class: "btn btn-small" %>
	    <%= link_to raw('<i class="icon-trash"></i>'), admin_path(admin, full_params.to_hash), data: {confirm: 'Are you sure you want to permanently delete this admin and all their information?'}, title: "Delete this admin from the system", method: :delete, class: "btn btn-small" %>
          </div>
	</div>
      </td>
    <% end %>
  <% end %>
<% else %>
  <tr><td colspan="4"><em>No matching admins...</em></td></tr>
<% end %>
