<%= content_tag_for :tr, user do %>
  <td class='role <%= (params[:sort] == "role") ? "sorted" : "" %>'>
    <%= image_tag user.role_avatar %>
  </td>
  <td class='last_name <%= (params[:sort] == "last_name") ? "sorted" : "" %>'>
    <%= user.formal_name %>
  </td>
  <td class='name <%= (params[:sort] == "name") ? "sorted" : "" %>'>
    <%= link_to user.name, user, data: {target: "#ajax-modal", toggle: "modal", placement: "top", data: "true", remote: "true"} %>
  </td>

  <% if current_user.admin? %>
  	<td>
			<% user.user_networks.where(:approved=>true).each do |n|%>
				<%= "#{n.network.name}"%><br/s>
			<%end%>
	  </td>
  <td class='login <%= (params[:sort] == "current_sign_in_at") ? "sorted" : "" %>'>
    <%= user.current_sign_in_at ? user.current_sign_in_at.strftime("%b %-d %I:%M %P") : "Never" %>
  </td>
  <% end %>

  <td>
    <%= render partial: "users/buttons", locals: {user: user} %>
  </td>
<% end %>
