<%= render "partials/ajax-modal" %>

<div class="row">
  <div class="span12">
    <% if current_user.admin? || current_user.market_manager?%>
      <div class="btn-group pull-right">
        <%= link_to raw('<i class="icon-eye-open icon-white"></i> View ' + @user.role.capitalize), user_path(@user), class: "btn btn-primary ", :remote=>true %>
        <%= link_to raw('<i class="icon-list"></i> List Users'), users_path(params), class: "btn" %>
      </div>
      <h1>Editing <%= @user.full_name %>'s Profile</h1>
      <h6></h6>
    <% else %>
      <h1>Your <%= ROLES[current_user.role] %> Profile</h1>
      <h6></h6>
    <% end %>
  </div>
</div>

<%= render 'form' %>
