<div class="row">
  <% if current_user == @user %>
  <div class="span2">
    <div id="management-nav" class="btn-group btn-group-vertical">
      <%= link_to "Inventory", "#", class: "btn btn-large" %>
      <%= link_to "Accounting", "#", class: "btn btn-large" %>
      <%= link_to "Invoices", "#", class: "btn btn-large" %>
      <%= link_to "Profile", "#", class: "btn btn-large" %>
    </div>
  </div>
  <% end %>
  <div class="span<%= current_user == @user ? '10' : '12' %>">

    <%= render "partials/ajax-modal" %>

    <h1><%= @user.name %></h1>

    <%= render partial: "users/modals/user", locals: {user: @user, with_link: "false"} %>

   
  </div>
</div>

