<div class="row">
  <% if current_user == @user %>
  <div class="span2">
    <div id="management-nav" class="btn-group btn-group-vertical">
      <%= link_to "Inventory", "#", class: "btn btn-large" %>
      <%= link_to "Accounting", "#", class: "btn btn-large" %>
      <%= link_to "Invoices", "#", class: "btn btn-large" %>
      <%= link_to "Profile", "#", class: "btn btn-large" %>
    </div>
  </div>
  <% end %>
  <div class="span<%= current_user == @user ? '10' : '12' %>">

    <%= render "partials/ajax-modal" %>

    <h1><%= @user.name %></h1>

    <%= render partial: "users/modals/user", locals: {u: @user} %>

    <h3>Available Agreements</h3>
    <table id="agreementTable" style="margin-top: -20px;" class="table">
      <thead>
        <tr>
          <th width="270px">
<!--
	    <%= form_tag(agreements_path, method: :get) do %>
	    <div class="form-search pull-left">
	      <div class="input-append">
	        <%= text_field_tag :name, params[:name].blank? ? '' : params[:name], placeholder: "Search by name...", class: "search-query span2" %>
	        <button type="submit" class="btn-inverse btn"><span class="icon-search icon-white"></span></button>
	      </div>
	    </div>
	    <% end %>
-->
          </th>
          <th>JAN</th>
          <th>FEB</th>
          <th>MAR</th>
          <th>APR</th>
          <th>MAY</th>
          <th>JUN</th>
          <th>JUL</th>
          <th>AUG</th>
          <th>SEP</th>
          <th>OCT</th>
          <th>NOV</th>
          <th>DEC</th>
        </tr>
      </thead>

      <tbody>
        <% if @user.agreements.group_by(&:product).any? %>
          <% @user.agreements.group_by(&:product).each do |p, agreements| %>
            <%= render partial: "agreements/agreement_row", locals: {p: p, agreements: agreements} %>
          <% end %>
        <% else %>
          <tr><td colspan="13"><em>No available agreements...</em></td></tr>
        <% end %>
      </tbody>
    </table>

    <h3>Preferred Products</h3>
    <table id="agreementTable" style="margin-top: -20px;" class="table">
      <thead>
        <tr>
          <th width="270px">
<!--
	    <%= form_tag(agreements_path, method: :get) do %>
	    <div class="form-search pull-left">
	      <div class="input-append">
	        <%= text_field_tag :name, params[:name].blank? ? '' : params[:name], placeholder: "Search by name...", class: "search-query span2" %>
	        <button type="submit" class="btn-inverse btn"><span class="icon-search icon-white"></span></button>
	      </div>
	    </div>
	    <% end %>
-->
          </th>
          <th>JAN</th>
          <th>FEB</th>
          <th>MAR</th>
          <th>APR</th>
          <th>MAY</th>
          <th>JUN</th>
          <th>JUL</th>
          <th>AUG</th>
          <th>SEP</th>
          <th>OCT</th>
          <th>NOV</th>
          <th>DEC</th>
        </tr>
      </thead>

      <tbody>
        <% if @user.products.any? %>
          <% @user.products.each do |p| %>
            <%= render partial: "agreements/producer_row", locals: {p: p} %>
          <% end %>
        <% else %>
          <tr><td colspan="13"><em>No preferred products...</em></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

