<hr />
<h3 class="centered">CHAGRIN FALLS EXEMPTED VILLAGE SCHOOLS<br />
LOCAL PROFESSIONAL DEVELOPMENT COMMITTEE<br />
CHECKLIST FOR PRE-APPROVAL OF INTERNET/COMPUTER COURSE WORK</h3>

<p class="well centered">
<strong>All items must be provided/confirmed to receive LPDC pre-approval
LPDC pre-approval must occur prior to beginning coursework</strong>
</p>

<table class="table">
  <tbody>
    <tr>
      <td>1.</td>
      <td><label><%= f.check_box :graded_coursework %> Coursework will be graded*</label></td>
    </tr>
    <tr>
      <td>2.</td>
      <td><label><%= f.check_box :accredited_university %> Accredited university or college (educator must be provide written proof of accreditation)</label></td>
    </tr>
    <tr>
      <td>3.</td>
      <td><label><%= f.check_box :syllabus %> Syllabus</label></td>
    </tr>
    <tr>
      <td>4.</td>
      <td><label><%= f.check_box :approved_plan %> Educator has a current approved Individual Professional Development Plan on file</label></td>
    </tr>
    <tr>
      <td>5.</td>
      <td><label><%= f.check_box :aligned_coursework %> Coursework is aligned to Individual Professional Development Plan</label></td>
    </tr>
  </tbody>
</table>

<hr />

<div class="control-group">
  <div class="controls controls-row">
    <label class="radio"><%= f.radio_button :course_application, "masters" %> Applying for Masters/PhD program (Can apply for entire program with program syllabus)</label>
    <span class="help-inline"> &nbsp; &nbsp; *Pass/fail courses within program must receive pre-approval</span>
    <p><strong>OR</strong></p>
    <label class="radio"><%= f.radio_button :course_application, "individual" %> Individual course (Courses outside of Masters/PhD program must be pre-approved individually)</label>
  </div>
</div>


<hr />
<div class="control-group">
  <%= f.label :anticipated_outcomes, "Discuss the anticipated outcomes:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_area :anticipated_outcomes, rows: "4", class: "span4" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :experience_learned, "How will this experience support your Professional Development Plan?:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_area :experience_learned, rows: "4", class: "span4" %>
  </div>
</div>
