<hr />
<h3 class="centered">Chagrin Falls Exempted Village School District<br />
  Local Professional Development Committee<br />
  Pre-Approval Form for College Coursework or Workshops</h3>

<p class="well centered">
<strong><u>*OPTIONAL FORM</u></strong> - college coursework/workshops do not require LPDC pre-approval provided activities align with educator’s approved professional development plan. Educators may choose to have college coursework/workshops pre-approved. <u>Transcript/certificate of completion must be attached to evaluation form 101C.</u><br />
<strong><u>ONLINE (INTERNET) COURSES DO REQUIRE PRE-APPROVAL – USE FORM 101B</u></strong>
</p>

<div class="control-group">
  <%= f.label :building, "Building:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_field :building, class: "span4" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :expected_completion_date, "Expected Date of Completion:", class: "control-label" %>
  <div class="controls controls-row controls-date">
    <%= f.date_select :expected_completion_date, order: [:month, :day, :year] %>
  </div>
</div>

<legend>I am seeking LPDC pre-approval for:</legend>

<h6>College Coursework:</h6>
<div class="control-group">
  <%= f.label :university, "College or University:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_field :university, class: "span4" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :course_title, "Title of Course:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_field :course_title, class: "span4" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :semester_hours, "Semester Hours:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_field :semester_hours, class: "span4" %>
  </div>
</div>

<h6>Workshop:</h6>
<div class="control-group">
  <%= f.label :sponsoring_organization, "Sponsoring Organization:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_field :sponsoring_organization, class: "span4" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :workshop_title, "Title of Workshop:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_field :workshop_title, class: "span4" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :contact_hours, "Contact Hours (PDUs):", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_field :contact_hours, class: "span4" %>
  </div>
</div>
<hr />
<div class="control-group">
  <%= f.label :anticipated_outcomes, "Discuss the anticipated outcomes:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_area :anticipated_outcomes, rows: "4", class: "span4" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :experience, "How will this experience support your Professional Development Plan?:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_area :experience, rows: "4", class: "span4" %>
  </div>
</div>
<legend></legend>
<div class="control-group">
  <%= f.label :employee_signature, "Employee Signature:", class: "control-label" %>
  <div class="controls controls-row">
    <%= f.text_field :employee_signature, class: "span4" %>
  </div>
</div>
