%tr{class: "sorters"}
	%th
		=  sortable "id", "Order #", parsed_params
	%th
		= sortable "created_at", "Order Date", parsed_params
	-if current_user.admin? || current_user.market_manager?
		%th
			= sortable "user", "Buyer", parsed_params
		%th
			= sortable "producer_total", "Producer Total", parsed_params
		%th
			=  "Markup ($)"

	%th
		= sortable "total", "Amount", parsed_params
