= render "partials/ajax-modal" 
.row
	.span12
		%h1
			%a{href: "#{orders_path}"}
				%img{class: "big-icon", src: "/assets/icon-agreements-calendar.png", alt: "Calendar Icon"} 
				Orders
				
%table{id: "order-table", class: "table table-hover table-striped"}
	%thead{id: "sorters"}
		= render "sorters"
	%tbody
		-@orders.each do |order|
			- if current_user.market_manager?
				-order.markets.each do |m|
					-if current_user.markets.include?(m)
						-mark = Market.find(m)
						%tr
							%td
								=link_to "Order ##{order.id}_#{mark.name}" , order_path(order.id, :set_market=> mark.id)
							%td
								="#{order.created_at.to_formatted_s(:long)}"
							-if current_user.admin? || current_user.market_manager?
								%td
									-if order.user !=nil
										="#{order.user.full_name}"
							%td
								- if current_user.producer? 
									="#{number_to_currency(order.producer_total)}"
								-else
									="#{number_to_currency(order.total)}"
			-else				
				%tr
					%td
						=link_to "Order ##{order.id}" , order_path(order.id)
					%td
						="#{order.created_at.to_formatted_s(:long)}"
					-if current_user.admin? || current_user.market_manager?
						%td
							-if order.user !=nil
								="#{order.user.full_name}"
					%td
						="#{number_to_currency(order.total)}"
