<tr>
  <th></th>
  <th>
    <%= f.select :product_id, option_groups_from_collection_for_select(Category.includes(:products).order('name'), :products, :name, :id, :name, (params[:product_id].blank? ? (@good.product ? @good.product.id : "") : params[:product_id])), {prompt: "-- Select Product --"}, {class: "select2", style: "width: 180px;" } %>
    <%= f.hidden_field :market_id, value: current_user.market_id if current_user.producer?%>
  </th>
  <% if current_user.admin? or current_user.market_manager? %>
  <th>
    <% if current_user.admin? %>
      <%= f.select :market_id, options_from_collection_for_select(Market.order('name'), :id, :name), {prompt: "Select Market"}, {style: "width: 180px; margin-bottom: 5px;" } %><br />
    <% else %>
      <%= f.hidden_field :market_id, value: current_user.market_id %>
    <% end %>
    <%= f.select :creator_id, options_from_collection_for_select(User.by_producer.order('name'), :id, :name), {prompt: "-- Select Producer --"}, {class: "select2", style: "width: 180px;" } %>
  </th>
  <% end %>
  <th style="width: 130px;">
    <div class="controls controls-row">
      <%= f.text_field :quantity, placeholder: "Qty", style: "width: 30px;" %>
      <%= f.select :selling_unit_id, SellingUnit.all.collect(&:short_name), {prompt: "Unit"}, {class: "span1", style: "margin-left: 5px;"} %>
    </div>
  </th>
  <th>
    <%= f.fields_for :price_points do |fpp| %>
      <%= render partial: 'price_points/form', locals: { f: fpp } %>
      <%= new_child_fields_template(f, :price_points, {partial: "price_points/form"})%>
    <% end %>
    <div class="controls">
      <span class="help-inline" style="margin-left: -5px;"><%= add_child_link "Price Point", :price_points %></span>
    </div>
    <%= f.hidden_field :selling_unit_id, value: SellingUnit.where(short_name: "lb").first.id %>
  </th>
  <th>
    <%= f.text_field :start_date, placeholder: "First available", data: {behavior: "datepicker"}, style: "width: 90px; margin-bottom: 5px;" %><br />
    <%= f.text_field :end_date, placeholder: "Last available", data: {behavior: "datepicker"}, style: "width: 90px;" %>
  </th>
  <th>
    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
    <i class="icon-white icon-plus"></i> Post Supply 
    <% end %>
  </th>
</tr>
