<tr class="batch-row">
  <th></th>
  <th>
    <%= f.select :product_id, option_groups_from_collection_for_select(Category.includes(:products).order('name'), :products, :name, :id, :name, (params[:product_id].blank? ? (@good.product ? @good.product.id : (params[:post_supply_id] ? params[:post_supply_id] : "") ) : params[:product_id])), {prompt: "-- Select Product --"}, {class: "select2", style: "width: 180px;" } %>
		<%= link_to "Don't see your product?", products_path if current_user.producer?%>
  </th>
  <% if current_user.admin? or current_user.market_manager? %>
  <th>
    <%= f.select :creator_id, options_from_collection_for_select(User.by_producer.order('name'), :id, :name), {prompt: "-- Select Producer --"}, {class: "select2", style: "width: 180px;" } %>
  </th>
  <% end %>
  <th style="width: 130px;">
    <div class="controls controls-row">
      <%= f.number_field :quantity, placeholder: "Qty", style: "width: 30px;", :min => 0 %>
			<% if params[:unit].blank? %>
				<%= f.select :selling_unit_id, SellingUnit.all.map {|s| [s.short_name, s.id]}, {prompt: "Unit"}, {class: "span1", style: "margin-left: 5px;"} %>
      
			<%else%>
				<%= f.select :selling_unit_id,SellingUnit.all.map {|s| [s.short_name, s.id]}, {prompt: "Unit", :selected => params[:unit]}, {class: "span1", style: "margin-left: 5px;"} %>
      
			<%end%>
			<br/>
			<%= f.check_box :no_qty%><div style="font-size: 10px; line-height:10px; margin-top: -10px; margin-left: 13px">Unknown/Unlimited Qty</div>
    </div>
  </th>
  <th style="width: 450px !important;">
    <%= f.fields_for :price_points do |fpp| %>
      <%= render partial: 'price_points/batch_form', locals: { f: fpp, price: params[:price] ? params[:price] : nil } %>
      <%= new_child_fields_template(f, :price_points, {partial: "price_points/batch_form"})%>
    <% end %>
    <div class="controls">
      <span class="help-inline" style="margin-left: -5px;"><%= add_child_link "Price Point", :price_points %></span>
    </div>
		<%= f.hidden_field :order_cutoff, value: current_user.default_cutoff %>
		<%= f.hidden_field :start_date, value: Date.current()%>
		
  </th>
  <th>
    <%= button_tag type: 'submit', class: "btn btn-primary batch_submit", :data=>{:url => '/goods'} do %>
    <i class="icon-white icon-plus"></i> Post Supply 
    <% end %>
  </th>
</tr>
