<%= content_tag_for :tr, good, class: (current_user.buyer? ? (good.available ? "success" : "error") : "") do %>


	<td><%= good.creator.name %> <br/><%= image_tag good.creator.pic(:thumb), class: "thumb" %></td>
  <td class='name <%= (params[:sort] == "name") ? "sorted" : "" %>'>
		<div class="row-fluid">
			<div class="span6"><%= image_tag good.product.best_pic_url(:thumb), class: "thumb" %></div>
    	<div class="span6"><%= link_to good.product.name, good, data: {target: "#ajax-modal", toggle: "modal", placement: "top", data: "true", remote: "true"} %></div>
			<%= hidden_field_tag :good_id, good.id%>
  		</div>
		</td>
	
  <td>
  	<%=good.quantity%> <%= good.selling_unit.name%><%= good.quantity > 1 ? "s" : ''%>
	</td>

  <td>
		<% count =0%>
	
		<% good.price_points.each do |pp|%>
			<% if JSON.parse(pp.buyers)["#{@network.id.to_s}"] == nil%>
				<% count = count +1%>
			<%else%>
				<% if (JSON.parse(pp.buyers)[@network.id.to_s].count == 0 )%>
					<% # need to check the market here%>
					<%= number_to_currency(pp.price) %>/<%= good.selling_unit.name%> <%= pp.quantity %>+ <%= good.selling_unit.name%><%= good.quantity > 1 ? "s" : ''%> <br/>
				
				<%else%>
					<% JSON.parse(pp.buyers)[@network.id.to_s].each do |n|%>
						<% if n.to_s == current_user.id %>
							<%= number_to_currency(pp.price) %>/<%= good.selling_unit.name%> <%= pp.quantity %>+ <%= good.selling_unit.name%><%= good.quantity > 1 ? "s" : ''%> <br/>
						<%end%>
					
					<%end%>
				<%end%>
				
			<%end%>
				
		<%end%>
		<%= good.price_points.count == count ? "No Price Point For This Network" : ""%>
  </td>


 
  <td>
	  <%= number_field :cart_item, :quantity, placeholder: "Qty",  style: "width: 50px", min: 0, max: good.quantity %>
  
		<%= good.selling_unit.name%>(s)<br/>
	
    <div class="btn-toolbar">
      <div class="btn-group">
	
	  <%= link_to "Add to Cart", add_item_cart_path(current_user.get_cart), class: "btn btn-warning add-to-cart", :disabled => (good.price_points.count == count) %>
      </div>
    </div>
  </td>

	<% end %>
