<%= semantic_form_for(@good, html: { multipart: true, class: "form-horizontal" }) do |f| %>

  <legend></legend>
  <%= render partial: 'partials/errors', locals: {obj: @good} %>

  <div class="control-group">
    <%= f.label :available, "Available:", class: "control-label" %>
    <div class="controls-row controls">
      <label class="checkbox"><%= f.input :available %></label>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :certifications, "Certifications:", class: "control-label" %>
    <div class="controls-row controls">
				<%=f.input :certification_ids, as: :check_boxes, label: "Certifications", collection: Certification.all.collect{|n| [n.name, n.id]}, multiple: true%>
				
    </div>
  </div>

  <div class="control-group">
    <%= f.label :product_id, "Product:", class: "control-label" %>
    <div class="controls-row controls">
      <%= f.select :product_id, option_groups_from_collection_for_select(Category.includes(:products).order('name'), :products, :name, :id, :name, (params[:product_id].blank? ? (@good.product ? @good.product.id : "") : params[:product_id])), {prompt: "-- Select Product --"}, {class: "select2 span4" } %>
    </div>
  </div>

  <% if current_user.market_manager? or current_user.admin? %>
  <div class="control-group">
    <%= f.label :producer_id, "Producer:", class: "control-label" %>
    <div class="controls-row controls">
      <%= f.select :creator_id, options_from_collection_for_select(User.by_producer.order('name'), :id, :name, (params[:creator_id].blank? ? (@good.creator ? @good.creator.id : "") : params[:creator_id])), {prompt: "-- Select Producer --"}, {class: "select2 span4" } %>
    </div>
  </div>
  <% else %>
    <%= f.hidden_field :creator_id, value: current_user.id %>
  <% end %>
  
  <% if current_user.admin? %>
  <div class="control-group">
    <%= f.label :market_id, "Market:", class: "control-label" %>
    <div class="controls-row controls">
      <%= f.select :market_id, options_from_collection_for_select(Market.order('name'), :id, :name), {prompt: "-- Select Market --"}, {style: "width: 180px; margin-bottom: 5px;" } %><br />
    </div>
  </div>
  <% else %>
  <% end %>

  <div class="control-group">
    <%= f.label :quantity, "Quantity:", class: "control-label" %>
    <div class="controls-row controls">
      <%= f.input :quantity, placeholder: "Qty", class: "span2" %>
      <%= f.select :selling_unit_id, SellingUnit.all.map {|s| [s.name, s.id]}, {prompt: "Unit"}, {class: "span2"} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :price_points, "Price Points:", class: "control-label" %>

		<div class="span4">
   	 <%= f.fields_for :price_points do |fpp| %>
	      <%= render partial: 'price_points/form', locals: { f: fpp } %>
	      <%= new_child_fields_template(f, :price_points, {partial: "price_points/form"})%>
	    <% end %>

	    <div class="controls span4" style="margin-left: 0px">
	      <span class="help-inline" ><%= add_child_link "Price Point", :price_points %></span>
	    </div>

		</div>
  </div><br/>

  <div class="controls-group">
    <%= f.label :start_date, "Duration:", class: "control-label" %>
    <div class="control-row controls">
      <%= f.text_field :start_date, placeholder: "First delivery", data: {behavior: "datepicker"}, class: "span2" %>
      <%= f.text_field :end_date, placeholder: "Last delivery", data: {behavior: "datepicker"}, class: "span2", style: "margin-left: 30px;" %>
    </div>
  </div>
    
  <hr style="clear: both;" />
  
  <%= render partial: 'partials/submit', locals: {f: f, text: 'Supply' } %>

<% end %>
