<%= content_tag_for :tr, good, class: (current_user.buyer? ? (good.available ? "success" : "error") : "") do %>
  <td>
    <% if current_user.market_manager? or current_user.admin? or good.created_by?(current_user) %>
      <%= link_to toggle_available_good_path(good), class: 'ajax-available', data: { type: 'json' }, remote: true do %><span title="Click to toggle availability of <%= good.name %>" class="label label-<%= good.available ? 'success' : 'important' %>"><i class="icon-ok icon-white"></i></span><% end %>
    <% end %>
  </td>
  <td class='name <%= (params[:sort] == "name") ? "sorted" : "" %>'>
    <%= image_tag good.product.best_pic_url(:thumb), class: "thumb" %>
    <%= link_to good.product.name, good, data: {target: "#ajax-modal", toggle: "modal", placement: "top", data: "true", remote: "true"} %>
  </td>
  <% if current_user.admin? or current_user.market_manager? %>
  <td class='producer <%= (params[:sort] == "producer.name") ? "sorted" : "" %>'>
    <%= image_tag good.creator.pic(:thumb), class: "thumb" %>
    <%= link_to good.creator.name, good.creator, data: {target: "#ajax-modal", toggle: "modal", placement: "top", data: "true", remote: "true"} %>
  </td>
  <% end %>
  <td class='quantity <%= (params[:sort] == "quantity") ? "sorted" : "" %>'>
    <%=raw good.quantity.to_s + " <span class='label label-info'>" + good.selling_unit.short_name.pluralize + "</span>" %>
  </td>
  <td class='price <%= (params[:sort] == "price") ? "sorted" : "" %>'>
    <% good.price_points.order("quantity ASC").each do |pp| %>
      <%= number_to_currency(pp.price) %> <strong style="font-size: 15px;">@</strong> &gt;<%= pp.quantity %> <span class='label label-info'><%= pp.selling_unit.short_name.pluralize %></span> <% network = pp.network_id ? Network.find(pp.network_id): nil%><% market = pp.market_id ? Market.find(pp.market_id): nil%><% buyer = pp.buyer_id ? User.find(pp.buyer_id): nil%><%= "Network: #{network.name} " if network !=nil %><%= "Market: #{market.name}" if market !=nil %><%= "Buyer: #{buyer.first_name} #{buyer.last_name}" if buyer !=nil %> <br />
    <% end %>
  </td>
  <td class='availability <%= (params[:sort] == "availability") ? "sorted" : "" %>'>
    <%=raw good.duration %>
  </td>
  <td>
    <div class="btn-toolbar">
      <div class="btn-group">
	<% if good.created_by?(current_user) or current_user.admin? or current_user.market_manager? %>
          <%= link_to raw('<i class="icon-edit"></i> Details'), edit_good_path(good), title: "Edit good info", class: "btn btn-small" %>
          <%= link_to raw('<i class="icon-trash"></i> Delete'), good_path(good, full_params.to_hash), data: {confirm: "Are you sure you want to permanently delete this good and all its information?"}, title: "Delete this good from the system", method: :delete, class: "btn btn-small" %>
	<% else %>
	  <%= link_to "Add to Cart", "#", class: "btn btn-warning" %>
	<% end %>
      </div>
    </div>
  </td>
<% end %>
