<div class="product base_container">
  <%= image_tag good.best_pic_url(:medium), class: "medium" %>
  <%= hidden_field_tag :good_id, good.id%>
	
  <h4><%= link_to good.product.name, good, data: {target: "#ajax-modal", toggle: "modal", placement: "top", data: "true", remote: "true"} %></h4>
  <h5><a href="/users/<%= good.creator.id%>" data-remote="true"><%= good.creator.name %></a></h5>
  <div class="certs underline">
		<div class="row-fluid">
			<div class="span9">
				<% good.certifications.each do |c|%>
						<%= c.name%><br/>
					<%end%><br/>
				
			</div>
			<div class="span3">
				<%= number_field :cart_item, :quantity, placeholder: "Qty",  style: "width: 50px", min: 0, max: good.quantity %>

				<%= good.selling_unit.name%>(s)<br/>
			  
			</div>
		</div>
		<br/>
	</div>
	
  <p class="details">
		<% price_point = Hash.new %>
		<% if @market != nil%>
			<% good.price_points.each do |pp|%>		
				<% if pp.buyers && JSON.parse(pp.buyers)["#{@market.id.to_s}"] != nil%>
					<% if (JSON.parse(pp.buyers)["#{@market.id.to_s}"].count == 0 )%>
						<% price_point["#{pp.quantity.to_s}"] = pp if price_point["#{pp.quantity.to_s}"] == nil%>
					<%else%>
							<% if (JSON.parse(pp.buyers)["#{@market.id.to_s}"].include? ("#{current_user.id.to_s}"))%>
									<% price_point["#{pp.quantity.to_s}"] = pp %>
							<%end%>
					<%end%>			
				<%end%>
			<%end%>				
		<%end%>
		<%= price_point.keys.count == 0 ? "No Price Point For This Market" : ""%>
		<%= hidden_field_tag :min_order, price_point.keys.sort.first%>
		<% price_point.keys.sort.each do |key|%>
			<% pp = price_point[key]%>
			<%= number_to_currency(pp.price) %>/<%= good.selling_unit.name%> min <%= pp.quantity %> <%= good.selling_unit.name%><%= good.quantity.to_i > 1 ? "s" : ''%> <br/>
			
		<%end%>


  </p>

  <p class="centered">
    <% if good.created_by?(current_user) %>
      <div class="btn-group">
	<%= link_to raw('<span class="icon-edit"></span> Edit Listing'), edit_good_path(good), class: "btn-small btn" %>
	<%= link_to raw('<span class="icon-trash"></span> Delete'), good_path(good, full_params.to_hash), data: {confirm: "Are you sure you want to permanently delete this good and all its information?"}, title: "Delete this good from the system", method: :delete, class: "btn btn-small" %>
      </div>
    <% else %>
    <%= good.quantity %> <span class="label label-info"><%= good.selling_unit.short_name.pluralize %></span> avail.<br />
		<%= hidden_field_tag :available, good.quantity %>
		<br/>
		  <%= link_to "Add to Cart", add_item_cart_path(current_user.get_cart), class: "btn btn-warning add-to-cart", :disabled => ( price_point.keys.count == 0 ) %>
			

    <% end %>
  </p>
</div>
