<tr class="sorters">
  <th><%= sortable "product", "Product", parsed_params %></th>
  <% if current_user.admin? or current_user.market_manager? %>
  <th><%= sortable "producer", "Producer", parsed_params %></th>
  <% end %>
  <th><%= sortable "quantity", "Qty", parsed_params %></th>
  <th><%= sortable "price", "Prices", parsed_params %></th>
  <th><%= sortable "availability", "Availability", parsed_params %></th>
  <th><span>Actions</span></th>
</tr>
