<%= render "partials/ajax-modal" %>

<div class="row">
  <div class="span12">
    <div class="btn-group pull-right actions-bar">
      <%= link_to raw('<span class="icon-th-large icon-white"></span> Product View'), marketplace_goods_path, class: "btn btn-primary" %>
      <%#= link_to 'New Good', new_good_path, class: "btn btn-primary" %>
      <%= link_to raw('<span class="icon-question-sign"></span>'), "#", class: "btn" %>
    </div>
    <h1><a href="<%= goods_path%>"><img class="big-icon" src="/assets/icon-agreements-calendar.png" alt="Calendar Icon" /> Goods</a></h1>
		<div <%= " style=visibility:hidden;height:0px !important;" if current_user.networks.count == 1  %> >
			Showing supply for: <%= select :network, :id, current_user.networks.collect{|n| [n.name, n.id]}, :class=> "buyer_network_select"%>
		</div>
  </div>
</div>


<div class="row">
  <div class="span9 to_replace">
		<div class="row-fluid">
			<div class="span5">
				Available Distribution Points: <%= select :market, :id, current_user.markets.where(:network_id => @network.id).collect{|n| [n.name, n.id]}, :class=> "buyer_market_select"%>
			</div>
			<div class="span7">
				 <%if @market%>
				<%date= @market.next_market%>
				<% date = "TBD" if date == nil%>
				
					<h3> <%=@market.name%> - <%= date == "TBD" ? "TDB" : date.to_formatted_s(:long)%></h3>
					<h5> <%=@market.address%></h5><br/>
				<%end%>
			</div>
		</div>
		<%=(date - @market.end_orders.hours).to_formatted_s(:long)%>
    	<div id="error-div"></div>
    	<%= render "cert_filters" %>

    	<%= render "partials/filters" %>

			<% if date !=nil && @market.start_orders != nil && Date.current < date-@market.start_orders.hours || Date.current > date-(@market.end_orders == nil ? 0 : @market.end_orders.hours) %>
				<h5><%= "Orders are not currently being taken for this market." %><br/><%="This market will open again for orders from <b>#{(date-@market.start_orders.hours).to_formatted_s(:long)} to #{(date-(@market.end_orders == nil ? 0 : @market.end_orders.hours)).to_formatted_s(:long)}</b>".html_safe%></h5>
			<%else%>
    	<table id="good-table" class="table table-hover table-striped">

  	    <thead id="sorters">
					<%= render "buyer_sorters" %>
	      </thead>
		    
	      <tbody id="good-ajax">
	        <% if @goods.any? %>
	          <% @goods.each do |good| %>
								<% gh =  good.order_cutoff ? good.order_cutoff  : 0%>
								<% next if @market && @market.start_time  && DateTime.current > @market.next_market - gh.to_i.hours %>
		    				<%= render partial: "buyer_good", locals: {good: good, network_id: @network.id} %>
	          <% end %>

	        <% else %>
	          <tr><td colspan="<%= (current_user.admin? or current_user.market_manager?) ? '7' : '6' %>"><em>No matching Goods...</em> </td></tr>
	        <% end %>
	      </tbody>
	    </table>


    <div id="pagination">
      <%= will_paginate @goods %>
    </div>
<%end%>

  </div>
	<div class="span3">
		<%= render :partial => 'carts/show' %>
	</div>
</div>
