<%= render "partials/ajax-modal" %>

<div class="row">
  <div class="span12">
    <div class="btn-group pull-right actions-bar">
      <%= link_to raw('<span class="icon-th-large icon-white"></span> Product View'), marketplace_goods_path, class: "btn btn-primary" %>
      <%#= link_to 'New Good', new_good_path, class: "btn btn-primary" %>
      <%= link_to raw('<span class="icon-question-sign"></span>'), "#", class: "btn" %>
    </div>
    <h1><img class="big-icon" src="/assets/icon-agreements-calendar.png" alt="Calendar Icon" /> Goods</h1>
		Showing supply for: <%= select :network, :id, current_user.networks.collect{|n| [n.name, n.id]}, :class=> "buyer_network_select"%>
  </div>
</div>


<div class="row">
  <div class="span9 to_replace">
		<div class="row-fluid">
			<div class="span5">
				Available Markets: <%= select :market, :id, current_user.markets.where(:network_id => @network.id).collect{|n| [n.name, n.id]}, :class=> "buyer_market_select"%>
			</div>
			<div class="span7">
				<%date = Date.today%>
				<% if @market%>
					<% if @market.day_of_week%>
						<%diff = (d - date.wday)%>
						<% diff = diff + 8 if diff < 0 %>
						<%date = date.change(:days => diff)%>
					<%else%>
						<%date = "TBD"%>
					<%end%>
					<h3> <%=@market.name%> - <%=date%></h3>
					<h5> <%=@market.address%></h5><br/>
				<%end%>
			</div>
		</div>
    
    	<div id="error-div"></div>
    	<%= render "cert_filters" %>

    	<%= render "partials/filters" %>

    	<table id="good-table" class="table table-hover table-striped">

  	    <thead id="sorters">
					<%= render "buyer_sorters" %>
	      </thead>
		    
	      <tbody id="good-ajax">
	        <% if @goods.any? %>
	          <% @goods.each do |good| %>
		    				<%= render partial: "buyer_good", locals: {good: good, network_id: @network.id} %>
	          <% end %>

	        <% else %>
	          <tr><td colspan="<%= (current_user.admin? or current_user.market_manager?) ? '7' : '6' %>"><em>No matching Goods...</em> </td></tr>
	        <% end %>
	      </tbody>
	    </table>


    <div id="pagination">
      <%= will_paginate @goods %>
    </div>
  </div>
	<div class="span3">
		<%= render :partial => 'carts/show' %>
	</div>
</div>
