<%= render "partials/ajax-modal" %>

<div class="row">
  <div class="span12">
    <div class="btn-group pull-right actions-bar">
      <%= link_to raw('<span class="icon-list icon-white"></span> Table View'), goods_path, class: "btn btn-primary" %>
      <%= link_to raw('<span class="icon-question-sign"></span>'), "#", class: "btn" %>
    </div>
    
		<h1><a href="<%= marketplace_goods_path%>"><img class="big-icon" src="/assets/icon-mrkt.png" alt="Marketplace Icon" />  <%= params['cat_id'].blank? ? "Produce For Sale" : Category.where(id: params["cat_id"].to_i).first.name %> <%= raw("<small>(" + pluralize(@goods.count, 'result') + ")</small>") %></a></h1>
		<%= hidden_field_tag :product_view, 'marketplace'%>
		<div <%= " style=visibility:hidden;height:0px !important;" if current_user.networks.count == 1  %> >
		
			Showing supply for: <%= select :network, :id, current_user.networks.collect{|n| [n.name, n.id]}, :class=> "buyer_network_select"%>
		</div>
  </div>
</div>


<div class="row-fluid">
  <div class="span9 to_replace">
		Available Distribution Points: <%= select :market, :id, current_user.markets.where(:network_id => @network.id).collect{|n| [n.name, n.id]}, :class=> "buyer_market_select"%>
		<% date =@market.next_market%>
	
			
  	<%= render "cert_filters" %>

    <%= render "partials/filters" %>
		<% if date !=nil && @market.start_orders != nil && Time.current < date-@market.start_orders.hours || Time.current > date-(@market.end_orders == nil ? 0 : @market.end_orders.hours) %>
			<h5><%= "Orders are not currently being taken for this market." %><br/><%="This market will open again for orders from <b>#{(date-@market.start_orders.hours).to_formatted_s(:long)} to #{(date-(@market.end_orders == nil ? 0 : @market.end_orders.hours)).to_formatted_s(:long)}</b>".html_safe%></h5>
		<%else%>
    <div class="products">
      <% if @product_goods.any? %>
        <% @product_goods.each do |p, goods| %>
          <% goods.each do |good| %>
					<% gh =  good.order_cutoff ? good.order_cutoff  : 0%>
					<% next if @market && @market.start_time  && DateTime.current > @market.next_market - gh.to_i.hours %>

            <%= render partial: "marketplace_good", locals: {p: p, good: good} %>
	  <% end %>
        <% end %>
      <% else %>
        <p><em>No matching goods...</em></p>
      <% end %>

      <div id="pagination">
        <%= will_paginate @goods %>
      </div>

			
    </div>
		<%end%>

	</div>
		<div class="span3">
			<%= render :partial => 'carts/show' %>
		</div>
</div>
