<h4><%= image_tag @agreement.product.best_pic_url(:thumb), class: "thumb" %> <%= @agreement.name %><br />
<small><strong>Duration:</strong> <%= @agreement.duration %> | <%= FREQUENCIES[@agreement.frequency] %></small></h4>

<%# if agreement.owned_by(current_user) %>
<%#= select_tag "", options_for_select(@agreement.agreement_changes.by_not_user(current_user.id).pluck(:user_id).map {|u| [User.find(u).name, "#{u}:#{@agreement.creator.id}"]}), {prompt: "-- Potential Offers --", id: "partner-selector"} %>
<%# end %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th style="min-width: 100px;">Price / <span class="label label-info"><%= @agreement.selling_unit %></span></th>
      <th style="min-width: 100px;">Qty (# <span class="label label-info"><%= @agreement.selling_unit.pluralize %></span>)</th>
      <th>Delivery Windows</th>
      <th>Comments/Reasons</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="centered"><strong>Original<br />Agreement</strong></td>
      <td><%= number_to_currency(@agreement.price) %></td>
      <td><%= @agreement.quantity %></td>
      <td>
	<ul>
	  <li>
	    <% if @agreement.delivery_windows.any? %>
	    <% @agreement.delivery_windows.each do |dw| %>
            <%= dw.display %><br />
	    <% end %>
	    <% else %>
	    <em>None proposed</em>
	    <% end %>
	  </li>
	  <% if @agreement.transport_instructions and !@agreement.transport_instructions.blank? %>
	  <li><em>"<%= @agreement.transport_instructions %>"</em></li>
	  <% end %>
	</ul>
      </td>
      <td></td>
    </tr>
    <tr class="agreement-changes-header">
      <td colspan="5">
	<% if @agreement.owned_by(current_user) %>
	  Responses below... <small>(click row to expand dialog)</small>
	<% else %>
	  <% if @agreement.agreement_changes.by_user(current_user.id).any? %>
	    Counter-Proposal dialog
	  <% end %>
	<% end %>
      </td>
    </tr>
  </tbody>
  <tbody id="agreement-changes-container">
    <% if !@agreement.owned_by(current_user) %>
      <% acs = @agreement.agreement_changes.where("user_id = ? OR user_id = ?", current_user.id, @agreement.creator_id) %>
      <% if acs.any? %>
        <% acs.each do |ac| %>
	  <%= render partial: "agreement_changes/agreement_change", locals: {ac: ac, collapsed: ""} %>
	<% end %>
      <% else %>
        <tr>
	  <td colspan="5">
	    <div class="btn-group" id="approval-group">
              <%= link_to raw('<i class="icon-edit"></i> Propose Amendments'), "#", class: "btn amendment-btn", id: "0" %>
	      <%= link_to raw('<i class="icon-ok icon-white"></i> Accept Agreement'), agreement_agreement_changes_path(@agreement, agreement_change: {status: "agreed"}), method: :post, confirm: "You will be obligated to fulfill your part of the contract should this agreement be accepted.", class: "btn btn-success" %>
	    </div>
	  </td>
	</tr>
      <% end %>
    <% else %>
      <%= render partial: "agreements/modals/root_agreement_changes" %>
    <% end %>
  </tbody>
</table>

