<% p = @agreement.producer %>

<%= image_tag p.pic.url(:medium), class: "medium" %>
<p>
  <span class="label label-success"><i class="icon-white icon-certificate"></i> <%= GROWING_METHODS[p.growing_methods] %></span>
  <% p.certifications.each do |c| %>
  <span class="label label-info"><i class="icon-white icon-certificate"></i><%= c.name %></span>
  <% end %>
</p>
<p><%= p.description %> <a href="#">Read more &raquo;</a></p>

<%= render partial: "agreements/modals/details", locals: {agreement: @agreement} %>

<% if @agreement.agreement_changes.any? %>
  <% if @agreement.owned_by(current_user) %>
  <table class="table">
    <thead>
      <tr>
	<th>Potential Buyers</th>
	<th>Status</th>
	<th>Actions</th>
      </tr>
    <thead>
    <tbody>
      <% @agreement.agreement_changes.group_by(&:buyer).each do |b, acs| %>
        <tr>
	  <td><%= link_to b.name, buyer_profile_path(b) %></td>
	  <td><%= (@agreement.agreement_changes.by_buyer(b.id).by_agreed.any? ? raw('<span class="label label-success">Agreed!</span>') : (link_to 'View history', "#")) %></td>
	  <td>
	    <div class="btn-group">
	      <%= link_to raw('<i class="icon-ok icon-white"></i> Accept!'), agreement_change_path(@agreement, acs[0]), method: :put, confirm: "You will be obligated to fulfill your part of the contract with " + b.name + ".", class: "btn btn-small btn-warning" %>
	      <%= link_to raw('<i class="icon-white icon-remove"></i> Reject'), agreement_change_path(@agreement, acs[0]), method: :put, confirm: "You will be obligated to fulfill your part of the contract with " + b.name + ".", class: "btn btn-small btn-danger" %>
	    </div>
	  </td>
	</tr>
      <% end %>
    </tbody>
  </table>  
  <% end %>
<% end %>
