<h1>Listing producer_profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @producer_profiles.each do |producer_profile| %>
  <tr>
    <td><%= producer_profile.user %></td>
    <td><%= link_to 'Show', producer_profile %></td>
    <td><%= link_to 'Edit', edit_producer_profile_path(producer_profile) %></td>
    <td><%= link_to 'Destroy', producer_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Producer profile', new_producer_profile_path %>
