<tr>
  <th>
		<%= f.text_field :name%>

  </th>
  <th>
		    <%= f.text_field :billing_street_address_1, placeholder: "Address 1", class: "span4" %>
		    <%= f.text_field :billing_street_address_2, placeholder: "Address 2", class: "span4" %>
		    <%= f.text_field :billing_city, placeholder: "City", class: "span2" %>
		    <%= f.text_field :billing_state, placeholder: "State", class: "span1" %>
		    <%= f.text_field :billing_zip, placeholder: "Zip", class: "span1" %>
	
  </th>
  <th >
		  <%= f.select :day_of_week, Date::DAYNAMES.collect{|day| [day, Date::DAYNAMES.index(day)]} ,{}, {:style=> "width: 150px !important"}%>
	
  </th>
  <th>
	  <%= f.select :cycle, Market::CYCLES.collect{|c| [c, Market::CYCLES.index(c)]},{}, {:style=> "width: 150px !important"}%>
	

  </th>
	<th>
			Start Time:
			<div class="input-append bootstrap-timepicker">
			  <%=f.text_field :start_time, :class=>"timepicker input-small"%>
			  <span class="add-on"><i class="icon-time"></i></span>
			</div>		
			End Time:
			<div class="input-append bootstrap-timepicker">
			  <%=f.text_field :end_time, :class=>"timepicker input-small"%>
			  <span class="add-on"><i class="icon-time"></i></span>
			</div>	  
	</th>
	<th></th>
  <th>
    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
    <i class="icon-white icon-plus"></i> Create Market
    <% end %>
  </th>
</tr>
