<tr class="sorters">
  <th><%= sortable "name", "Name", parsed_params %></th>
  <th><%= sortable "city", "billing_city", parsed_params %></th>
  <th><%= sortable "state", "State", parsed_params %></th>
  <th><%= sortable "Day of Week", "day_of_week", parsed_params %></th>
  <th><%= sortable "Cycle", "cycle", parsed_params %></th>
  <th><%= sortable "Time", "time_start", parsed_params %></th>
  <th><%= sortable "Who Can Purchase>", "all_buyers", parsed_params %></th>
  <th><span>Actions</span></th>
</tr>
