<tr class="sorters">
  <th><%= sortable "name", "Name", parsed_params %></th>
  <th><%= "Address" %></th>
  <th ><%= sortable  "day_of_week" ,"Day of Week", parsed_params %></th>
  <th ><%= sortable  "cycle", "Cycle", parsed_params %></th>
  <th ><%= sortable "time_start", "Time", parsed_params %></th>
  <th><%= sortable "all_buyers", "Who Can Purchase", parsed_params %></th>
  <th><span>Actions</span></th>
</tr>
