<%= content_tag_for :tr, a do %>
  <td class='name <%= (params[:sort] == "name") ? "sorted" : "" %>'>
    <%= image_tag a.product.best_pic_url(:thumb), class: "thumb" %>
    <h5><%= link_to a.product.name, "#" %></h5>
  </td>
  <td colspan="12">
    <a class="bar <%= a.bar_status(current_user.id) %>" style="<%= a.bar_margins %>" href="#modal<%= a.id %>"></a>
  </td>
<% end %>

