<a class="bar <%= a.bar_status(current_user.profile_id) %>"
   href="agreements/<%= a.id %>/modal" 
   style="<%= a.bar_margins %>" 
   data-target="#ajax-modal" data-toggle="modal" data-placement="top" 
   data-html="true" data-original-title="<%= a.user_names %>" 
   data-content="<strong><%= a.name %></strong><br /><strong>Price:</strong> <%= number_to_currency(a.price) %>/(<%= a.selling_unit %>)<br /><strong>Amount:</strong> (<%= pluralize(a.quantity, a.selling_unit) %>) | <%= a.frequency %><br /><strong>Duration:</strong> <%= a.duration %><br /><br /><small>Click bar for contract details...</small>" title="<%= a.user_names %>"></a>
