<tr id="collapse<%= p.id %>">
  <td class="row-collapse">
    <!--a id="toggle">
      <i class="icon-plus" some="#collapse<%= p.id %>"></i>
    </a>
  </td-->
  <td class='name <%= (params[:sort] == "name") ? "sorted" : "" %>'>
    <%= image_tag p.best_pic_url(:thumb), class: "thumb" %>
    
    <h5><%= link_to p.name, "#" %>
      <% if false %>
       <small><%= pluralize(agreements.count, (current_user.buyer? ? "producer" : "buyer")) %></small>
      <% end %>
      <br />
      <%= link_to "Propose an Agreement", new_agreement_path(product_id: p.id), class: "btn btn-mini btn-primary" %>
    </h5>
  </td>
  <td colspan="12">
    <% if agreements.any? %>
      <% agreements.each do |a| %>
        <%= render partial: "bar", locals: {a: a} %>
      <% end %>
    <% else %>
      <em>No demand posted. But that doesn't mean no one's buying! <%= link_to "Post Supply Agreement", new_agreement_path(product_id: p.id), class: "btn btn-mini btn-primary" %></em>
    <% end %>
  </td>
</tr>
