<%= render "partials/filters" %>

<div class="row">
  <div class="span12">
    <%= form_tag(marketplace_agreements_path, method: :get) do %>
    <div class="form-search pull-left">
      <div class="input-append">
	<%= text_field_tag :name, params[:name].blank? ? '' : params[:name], placeholder: "Search by name...", class: "search-query span2" %>
	<button type="submit" class="btn-inverse btn"><span class="icon-search icon-white"></span></button>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">
      <% if @product_agreements.any? %>
        <% @product_agreements.each do |p, agreements| %>
          <%= render partial: "agreement", locals: {p: p, agreements: agreements} %>
        <% end %>
      <% else %>
        <tr><td colspan="13"><em>No matching agreements...</em></td></tr>
      <% end %>
    <div id="pagination">
      <%= will_paginate @agreements %>
    </div>
  </div>
</div>
