<% u = @agreement.producer.producer_profile %>

<%= image_tag u.pic.url(:medium), class: "medium" %>
<p>
  <span class="label label-success"><i class="icon-white icon-certificate"></i> <%= GROWING_METHODS[u.growing_methods] %></span>
  <% u.certifications.each do |c| %>
  <span class="label label-warning"><i class="icon-white icon-certificate"></i><%= c.name %></span>
  <% end %>
</p>
<p><%= u.description %> <a href="#">Read more &raquo;</a></p>
<hr class="clear" />
<h4>Agreement Proposal</h4>
<ul>
  <li>We pledge to deliver <span class="label label-info"><%= pluralize(@agreement.quantity, UNIT_TYPE[@agreement.selling_unit]) %>/<%= @agreement.frequency %></span> of <strong><%= @agreement.name %></strong> at <span class="label label-success"><%= number_to_currency(@agreement.price) %> | <%= UNIT_TYPE[@agreement.selling_unit] %></span>.</li>
  <li>We can deliver on <span class="label label-warning">?</span> within ?? miles.</li>
  <li>Duration: <span class="label label-info"><%= @agreement.duration %></span>.</li>
</ul>
