<% if @user %>

<% producers = [@user] %>

<% else %>

<% producers = User.by_producer.order_best_available(p.id) %>
<% producers = producers.by_size(params[:size]) unless params[:size].blank? %>
<% producers = producers.by_growing_methods(params[:growing_methods]) unless params[:growing_methods].blank? %>
<% producers = producers.near(origin: [current_user.lat,current_user.lng], within: params[:distance]) unless params[:distance].blank? %>

<% end %>

<tr>
  <td class='name <%= (params[:sort] == "name") ? "sorted" : "" %>'>
    <h5><%= image_tag p.best_pic_url(:thumb), class: "thumb" %>
      <%= p.name %><br />
      <%= link_to "Post Demand to All Producers", new_agreement_path(product_id: p.id), class: "btn btn-mini btn-primary collapse#{p.id} collapsed" %>
    </h5>
    <div class="collapse<%= p.id %> collapsed producer-col-container">
    <% producers.each do |profile| %>
      <% if profile.products.include?(p) %>
      <div class="producer-col" data-original-title="<%= profile.name %>">
	<%= image_tag profile.pic.url(:thumb), class: "thumb" %>
	<a href="/users/<%= profile.id %>/modal" class="get-modal" data-target="#ajax-modal" data-toggle="modal" data-html="true"><%= profile.name %></a>
      </div>
      <% end %>
    <% end %>
    <% producers.each do |profile| %>
      <% if !profile.products.include?(p) %>
      <div class="producer-col" data-original-title="<%= profile.name %>">
	<%= image_tag profile.pic.url(:thumb), class: "thumb" %>
	<a href="users/<%= profile.id %>/modal" class="get-modal" data-target="#ajax-modal" data-toggle="modal" data-html="true"><%= profile.name %></a>
      </div>
      <% end %>
    <% end %>
    </div>
  </td>
  <td colspan="12">
    <!--a class="btn btn-mini btn-danger producer-close collapsed collapse<%= p.id %>"><i class="icon-remove icon-white" data-target=".collapse<%= p.id %>"></i></a-->
    <div class="bar-container <%= p.greenhouse_grown == true ? 'greenhouse' : '' %>">
    <% if p.end_date.year > p.start_date.year %>
    <a class="bar fat-bar" data-target=".collapse<%= p.id %>" style="<%= p.start_bar_margins %> "></a>
    <a class="bar fat-bar" data-target=".collapse<%= p.id %>" style="<%= p.end_bar_margins %> margin-top: -14px;"></a>
    <% else %>
    <a class="bar fat-bar" data-target=".collapse<%= p.id %>" style="<%= p.bar_margins %>"></a>
    <% end %>
    </div>

    <div class="collapse<%= p.id %> collapsed producer-col-container">
    <% producers.each do |profile| %>
      <% if profile.products.include?(p) %>
      <div class="producer-col bar-col">
	<% if profile.agreements.where(product_id: p.id).any? %>
          <% profile.agreements.where(product_id: p.id).each do |a| %>
	    <%= render partial: "bar", locals: {a: a} %>
	  <% end %>
        <% else %>
          <%= link_to "Propose Agreement to this Producer", new_agreement_path(product_id: p.id, preferred_user_id: profile.id), class: "btn btn-mini btn-primary", style: "margin-top: 12px;" %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    <% producers.each do |profile| %>
      <% if !profile.products.include?(p) %>
      <div class="producer-col bar-col">
	<% if profile.agreements.where(product_id: p.id).any? %>
          <% profile.agreements.where(product_id: p.id).each do |a| %>
	    <%= render partial: "bar", locals: {a: a} %>
	  <% end %>
        <% else %>
          <%= link_to "Propose Agreement to this Producer", new_agreement_path(product_id: p.id, preferred_user_id: profile.id), class: "btn btn-mini btn-primary", style: "margin-top: 12px;" %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
  </td>
</tr>
