<tr class="sorters">
  <th><%= sortable "name", "Name", parsed_params %></th>
  <th><%= sortable "owner", "Owner", parsed_params %></th>
  <th><%= sortable "price", "Price", parsed_params %></th>
  <th><%= sortable "quantity", "Quantity", parsed_params %></th>
  <th><%= sortable "duration", "Duration", parsed_params %></th>
  <th><span>Actions</span></th>
</tr>
