<%= render "partials/ajax-modal" %>

<div class="modal hide fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="Help" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Managing Production Agreements</h4>
  </div>
  <div class="modal-body">
    <%= render partial: "agreements/help/calendar" %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<% if @first_login %>
<script>setTimeout(function(){$('#helpModal').modal('show')}, 1000);</script>
<% end %>

<div class="row">
  <div class="span12">
    <div class="pull-right actions-bar">
      <%= link_to raw('<i class="icon-white icon-certificate"></i> New'), new_agreement_path, class: "btn btn-primary" %>
      <div class="btn-group ">
	<%= link_to raw('My Agreements'), my_agreements_path("all"), class: "btn btn-success" %>
	<%= link_to raw('<span class="caret"></span>'), "#", class: "btn btn-success dropdown-toggle", data: {toggle: "dropdown"} %>
	<ul class="dropdown-menu">
	  <li><%= link_to 'Proposed', my_agreements_path("proposed") %></li>
	  <li><%= link_to 'Complete', my_agreements_path("complete") %></li>
	</ul>
      </div>
      <a role="button" class="btn" data-toggle="modal" href="#helpModal" title="Click to popup help">
	<i class="icon-question-sign"></i>
      </a>
    </div>
    <h1><img class="big-icon" src="/assets/icon-caln.png" alt="Calendar Icon" />  <%= params['cat_id'].blank? ? "Production Agreements" : Category.where(id: params["cat_id"].to_i).first.name %> <%= raw("<small>(" + @product_agreements.count.to_s + ")</small>") if current_user.admin? %></h1>
    <div id="key-holder"><%= render "partials/key" %></div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= render "calendar_table" %>
  </div>
</div>
