<div class="row">
  <div class="span12">
    <div class="pull-right actions-bar">
      <%= link_to 'Propose New', new_agreement_path, class: "btn btn-primary" %>
      <div class="btn-group ">
	<%= link_to raw('My Agreements'), my_agreements_path, class: "btn btn-success" %>
	<%= link_to raw('<span class="caret"></span>'), "#", class: "btn btn-success dropdown-toggle", data: {toggle: "dropdown"} %>
	<ul class="dropdown-menu">
	  <li><%= link_to 'Proposed', my_agreements_path("unmet") %></li>
	  <li><%= link_to 'Active', my_agreements_path("met") %></li>
	  <li><%= link_to 'Past', my_agreements_path("expired") %></li>
	</ul>
      </div>
      <%= link_to raw('<span class="icon-question-sign"></span>'), "#", class: "btn" %>
    </div>
    <h1><img class="big-icon" src="/assets/icon-caln.png" alt="Calendar Icon" />  <%= params['cat'].blank? ? "Production Agreements" : Category.where(id: params["cat"].to_i).first.name %> <%= raw("<small>(" + @products.count.to_s + ")</small>") if current_user.admin? %></h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul id="cat-nav" class="nav nav-tabs">
      <% Category.roots.each do |c| %>
      <li class="dropdown <%= (!params['cat'].blank? and c.self_and_descendant_ids.include?(params['cat'].to_i)) ? 'active' : '' %>"><%= link_to raw(c.name + ' <b class="caret" style="margin-top: 9px;"></b>'), agreements_path(cat: c.id), class: "dropdown-toggle", id: "dLabel", role: "button" %>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	  <% c.children.each do |cc| %>
	  <li class="<%= (!params['cat'].blank? and cc.self_and_descendant_ids.include?(params['cat'].to_i)) ? 'active' : '' %>"><%= link_to cc.name, agreements_path(cat: cc.id), tabindex: "-1" %></a></li>
	  <% end %>
	</ul>
      </li>
      <% end %>
      <li class="pull-right" id="filter-toggle"><a title="Advanced search options" href="#" data-toggle="collapse" data-target="#agreement-filter"><i class="icon-cog"></i> <b class="caret" style="margin-top: 9px;"></b></a></li>
    </ul>
    <!--div id="key">
      <div><div class="bar complete"></div> = Active Agreement</div>
      <div><div class="bar pending"></div> = Pending Agreement</div>
      <div><div class="bar"></div> = Available Agreement</div>
    </div-->
    <div class="row">
      <div class="span12 input-row">
	<div class="row">
	  <div id="agreement-filter" class="collapse">
	    <div class="span6">
	      <h4 style="margin-left: 20px;">Advanced Search Options</h4>
	      <%= form_tag(agreements_path, class: "form-horizontal") do %>
	      <div class="control-group">
		<label for="min_price" class="control-label">Price Options:</label>
		<div class="controls controls-row">
		  <div class="input-prepend">
		    <span class="add-on">$</span>
		    <%= text_field_tag :min_price, params[:min_price].blank? ? '' : params[:min_price], placeholder: "Min...", class: "span1" %>
		  </div>
		  &nbsp; &lt; &nbsp;
		  <div class="input-prepend">
		    <span class="add-on">$</span>
		    <%= text_field_tag :max_price, params[:max_price].blank? ? '' : params[:max_price], placeholder: "Max...", class: "span1" %>
		  </div>
		  per unit
		</div>
	      </div>

	      <div class="control-group">
		<label for="min_quantity" class="control-label">Quantity Options:</label>
		<div class="controls controls-row">
		  <div class="input-append">
		    <%= text_field_tag :min_quantity, params[:min_quantity].blank? ? '' : params[:min_quantity], placeholder: "Min...", class: "span1" %>
		    <span class="add-on">units</span>
		  </div>
		  &nbsp; &lt; &nbsp;
		  <div class="input-append">
		    <%= text_field_tag :max_quantity, params[:max_quantity].blank? ? '' : params[:max_quantity], placeholder: "Max...", class: "span1" %>
		    <span class="add-on">units</span>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<% end %>
      </div>
    </div>
    <table class="table table-hover table-striped" style="background: #fff;margin-top: -20px; border-top: 2px solid #dadada;">
      <thead>
	<tr>
	  <th width="270px">
	    <%= form_tag(agreements_path, method: :get) do %>
	    <div class="form-search pull-left">
	      <div class="input-append">
		<%= text_field_tag :name, params[:name].blank? ? '' : params[:name], placeholder: "Search by name...", class: "search-query span2" %>
		<button type="submit" class="btn-inverse btn"><span class="icon-search icon-white"></span></button>
	      </div>
	    </div>
	    <% end %>
	  </th>
	  <th>JAN</th>
	  <th>FEB</th>
	  <th>MAR</th>
	  <th>APR</th>
	  <th>MAY</th>
	  <th>JUN</th>
	  <th>JUL</th>
	  <th>AUG</th>
	  <th>SEP</th>
	  <th>OCT</th>
	  <th>NOV</th>
	  <th>DEC</th>
	</tr>
      </thead>
      <tbody>
	<% if current_user.buyer? and (params.count <= 2) %>
	  <%= render "buyer_index"  %>
	<% else %>
	  <% if @agreements.any? %>
	    <% @agreements.each do |a| %>
	      <%= render partial: "agreement", locals: {a: a} %>
	    <% end %>
	  <% else %>
	    <tr><td colspan="13"><em>No matching agreements...</em></td></tr>
	  <% end %>
	<% end %>
      </tbody>
    </table>
    <div id="pagination">
      <% if current_user.buyer? and (params.count <= 2) %>
	<%= will_paginate @products %>
      <% else %>
	<%= will_paginate @agreements %>
      <% end %>
    </div>
  </div>
</div>
