<div class="row">
  <div class="span12">
    <div class="pull-right actions-bar">
      <% if current_user.producer? %>
      <%= link_to 'Post Supply', new_agreement_path(agreement_type: "onetime"), class: "btn btn-primary" if current_user.producer? %>
      <div class="btn-group ">
<!--	<%= link_to raw('My Products'), "#", class: "btn btn-success" %>
	<%= link_to raw('<span class="caret"></span>'), "#", class: "btn btn-success dropdown-toggle", data: {toggle: "dropdown"} %>
	<ul class="dropdown-menu">
	  <li><%= link_to 'Listed', "#" %></li>
	  <li><%= link_to 'Past Sales', "#" %></li>
	</ul>
-->      </div>
      <% end %>
      <%= link_to raw('<span class="icon-question-sign"></span>'), "#", class: "btn" %>
    </div>
    <h1><img class="big-icon" src="/assets/icon-mrkt.png" alt="Marketplace Icon" />  <%= params['cat_id'].blank? ? "Produce For Sale" : Category.where(id: params["cat_id"].to_i).first.name %> <%= raw("<small>(" + pluralize(@agreements.count, 'result') + ")</small>") %></h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= render "grid" %>
  </div>
</div>
