<% json  = (@data == 'undefined') ? Hash.new : ActiveSupport::JSON.decode(@data)  %>
<legend>Select Buyers/Markets </legend>
<%= form_tag do %>
	<span id="modal_form_data">
		<% if current_user.admin?%>
			<% networks = Network.all%>
		<% elsif @good == nil %>
			<%networks= current_user.networks%>
		<%else%>
			<%networks= current_user.networks%>
		
			<% #networks = @good.markets.map{|m| m.network}.uniq%>
		<%end%>
		<% networks.each do |n|%>
			<h4 <%= "style = 'display:none'" if !current_user.networks.include?(n) && !current_user.admin?%> ><%= n.name%></h4>
				<% #current_user.markets.where(:network_id => n.id).each do |market|%>

				<% n.markets.each do |market|%>
						<% next if !current_user.markets.include?(market) && !current_user.admin?%>
						<div class="row-fluid " <%= " style=visibility:hidden;height:0px !important;" if !current_user.markets.include?(market) && !current_user.admin?%>>
				
							<div class="span12 well" <%= " style=visibility:hidden;height:0px !important;" if !current_user.markets.include?(market) && !current_user.admin?%>>					
								<h5> 
									<div class="span1"><%= check_box_tag :market_flag, market.id, json[market.id.to_s] != nil && json[market.id.to_s].count == 0 %> </div> <div class="span3"><%=market.name%></div><div class="span5"><%= select_tag :buyer_flag, options_from_collection_for_select(market.buyers, "id", "full_name", json[market.id.to_s] ), :multiple=>true, :class=>"multiselect buyer_checks" %>
								<div class="whole_network">(Price set for whole distribution point)</div></div>
								</h5>
				
							</div>
						</div>
				<%end%>
		<%end%>
			
	
		</div>
		<br/>
		<%= submit_tag "Update Buyers", :class=> "btn btn-primary update_buyers", :data =>{:target => @target_id}%>
	</span>
	
<%end%>