<tr class="sorters">
  <th style="width: 160px;"><%="Product"%></th>
  <th><%="Date" %></th>
  <th><%= "Price " %></th>

  <th><%= "Quantity " %></th>
  <th><%= "Total Cost " %></th>

  <th><span>Actions</span></th>
</tr>
