<%= content_tag_for :tr, price_point do %>

  <td class='name <%= (params[:sort] == "name") ? "sorted" : "" %>'>
    <%= image_tag price_point.good.product.best_pic_url(:thumb), class: "thumb" %>
    <%= link_to price_point.good.product.name, price_point.good, data: {target: "#ajax-modal", toggle: "modal", placement: "top", data: "true", remote: "true"} %>
  </td>

  <td>
			<%= price_point.good.end_date%>
  </td>

	<td>
			<%= price_point.price%> / <%= "#{SellingUnit.find(price_point.selling_unit_id).name}"%>
			
	</td>
	<td>
			<%= price_point.good.quantity%>
  </td>
	
	<td>
	 	<%= "#{price_point.price * price_point.good.quantity}"%>
	</td>
  

 
  <td>
    <div class="btn-toolbar">
      <div class="btn-group">
					<div class="btn btn-primary save_line" >Post Supply</div>
      </div>
    </div>
  </td>

	<% end %>