<tr class="sorters">
  <th></th>
  <th style="width: 160px;"><%="Product"%></th>
  <th><%="Date" %></th>

  <th><%= "Quantity " %></th>
  <th><%= "Price " %></th>
	<% if current_user.buyer?%>
		<th style="text-align: center;"> <%= "Target Farm"%></th>
	<%end%>
  <th><span>Actions</span></th>
</tr>
