<h1>Listing buyer_profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buyer_profiles.each do |buyer_profile| %>
  <tr>
    <td><%= buyer_profile.user %></td>
    <td><%= link_to 'Show', buyer_profile %></td>
    <td><%= link_to 'Edit', edit_buyer_profile_path(buyer_profile) %></td>
    <td><%= link_to 'Destroy', buyer_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buyer profile', new_buyer_profile_path %>
