<% available = current_user.producer? ? p.agreements.available_demand : p.agreements.available_supply %>

<% if available.any? %>
  <div class="products">
    <% available.each do |a| %>
      <div class="product">
	<%= image_tag a.images[0].image.url(:medium), class: "medium" %>

	<h4><%= link_to a.name, "#" %></h4>

	<p class="details"><strong><%= number_to_currency(a.price) + "/" + a.selling_unit %></strong> | <%= pluralize(a.quantity, UNIT_TYPE[a.selling_unit]) %> avail.</p>
	
	<p class="centered"><%= link_to "Purchase", "#", class: "btn btn-warning" %></p>
    </div>
    <% end %>
  </div>
<% end %>
