<tr class="sorters">
  <th><%= sortable "name", "Name", parsed_params %></th>
  <th><%= sortable "categories.name", "Category", parsed_params %></th>
  <th><%= sortable "selling_units.name", "Selling Units", parsed_params %></th>
  <th><%= sortable "start_date", "Start Avail.", parsed_params %></th>
  <th><%= sortable "end_date", "End Avail.", parsed_params %></th>
  <th><span>Actions</span></th>
</tr>
