<%= render "partials/ajax-modal" %>

<div class="row">
  <div class="span12">
    <div class="btn-group pull-right">
      <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
      <%= link_to raw('<span class="icon-question-sign"></span>'), "#", class: "btn" %>
    </div>
    <h1>Products</h1>
  </div>
</div>

<div class="row">
  <div class="span12">

    <table id="productTable" class="table table-hover table-striped">
      <thead id="query">
	<%= render "query_form" %>
      </thead>
      
      <thead id="sorters">
	<%= render "sorters" %>
      </thead>

      <tbody id="product-ajax">
        <% if @products.any? %>
          <% @products.each do |product| %>
	    <%= render partial: "product", locals: {product: product} %>
          <% end %>

        <% else %>
          <tr><td colspan="<%= (current_user.admin? or current_user.market_manager?) ? '6' : '5' %>"><em>No matching Products...</em> </td></tr>
        <% end %>
      </tbody>
    </table>
    <div id="pagination">
      <%= will_paginate @products %>
    </div>
  </div>
</div>
