= render "partials/ajax-modal" 
.row
	.span12
		%h1
			%a{href: "#{orders_path}"}
				%img{class: "big-icon", src: "/assets/icon-agreements-calendar.png", alt: "Calendar Icon"} 
				Orders
				
%table{id: "order-table", class: "table table-hover table-striped"}
	%thead{id: "sorters"}
		= render "sorters"
	%tbody
		-@sub_orders.each do |sub_order|	
			%tr
				%td
					=link_to "#{sub_order.order_id}__#{ ('a'..'z').to_a[sub_order.key] }".upcase, sub_order
				%td
					="#{sub_order.created_at.strftime('%B %e, %Y %l:%M:%p')}"
				- if !current_user.producer?
					%td
						-if sub_order.user !=nil
							="#{sub_order.user.full_name}"
				%td
					-if sub_order.order.user !=nil
						="#{sub_order.order.user.full_name}"
				%td
					="#{sub_order.market.name}"
				%td
					="#{sub_order.market_date.strftime('%B %e, %Y %l:%M:%p')  if sub_order.market_date} "
				%td
					-if current_user.producer?
						="#{number_to_currency(sub_order.producer_total)}"
					-else
						="#{number_to_currency(sub_order.total)}"