<div class="row" style="min-height: 350px;">
  <div class="span6">

    <%= form_for("user", url: user_session_path, html: {class: "form-horizontal"}) do |f| %>

      <h2>User Sign In</h2>
      
      <div class="control-group">
	<%= f.label :email, "Email:", class: "control-label" %>
	<div class="controls"><%= f.email_field :email, placeholder: "user@example.com", autofocus: true %></div>
      </div>
      
      <div class="control-group">
	<%= f.label :password, "Password:", class: "control-label" %>
	<div class="controls"><%= f.password_field :password %></div>
      </div>
      
      <div class="control-group">
	<div class="controls">
	  <%= f.submit "Sign in", disable_data_with: "Signing in...", class: "btn btn-success" %> &nbsp;
	  <label tabindex="2" class="checkbox" style="display: inline-block;width: 100px;"><%= f.check_box :remember_me %> Remember Me</label>
	</div>
      </div>
    <% end %>
<!--
    <%= form_for("lead", url: leads_path,  html: {class: "form-horizontal", action: "post", remote: true}) do |f| %>
      <h6>Sign up to get in early.</h6>
      <p id="response"></p>
      <div class="input-append">
	<%= f.email_field :email, placeholder: "Enter your email..." %>
	<%= f.submit "Notify me", class: "btn-success btn" %>
      </div>
      <small>...but don't spam me</small>
    <% end %>
-->
  </div>
  <div class="span6">
    <h2 id="tagline">
      <span style="line-height: 1.2em; color: #ffba00; font-size: 20px;">Connecting</span><br />
      <span style="color: #39b54a;">local producers</span> &<br />
      <span style="color: #f47f20;">wholesale buyers</span>
    </h2>
    <p style=" font-size: 16px;"><span style="font-weight: bold;" title="Click a button below">Sign Up</span> to discover and create local production agreements.</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-buyer.png' /><br />Buyers"), new_user_registration_path(role: "buyer"), {class: "tout buyer"} %></h3>
  </div>
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-food-hub.png' /><br />Food Hub"), "#", {class: "tout food-hub"} %></h3>
  </div>
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-producer.png' /><br />Producers"), new_user_registration_path(role: "producer"), {class: "tout producer"} %></h3>
  </div>
</div>
