<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag "/favicon.png", :type => 'image/png' %>
    <title><%= content_for?(:title) ? yield(:title) + " | " : "" %>LocalCycle</title>
    <meta name="description" content="">
    <meta name="author" content="Macklin Chaffee DBA Golden Orb">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  <body class="<%= yield(:bodyclass) %>">
    <div id="vignette"></div>
    <header id="header" class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
	  <h1><%= link_to raw("<span>L</span>ocal<span>C</span>ycle"), root_url, class: "brand" %></h1>
          <% if signed_in? %><%= render 'layouts/navigation' %><% end %>
        </div>
      </nav>
    </header>
    <div id="content" role="main">
      <div class="container">
        <%= render 'layouts/sectionNav' %>
        <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
	<footer id="footer">
	  <p style="clear: both;"><br /></p>
	  <p><br /></p>
	  <hr />
	  <p style="float: right; color: #999;">If you are experiencing any issues, please email <a style="color: #777;" href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a></p>
	</footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

  </body>
</html>
