<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag "/favicon.png", :type => 'image/png' %>
    <title><%= content_for?(:title) ? yield(:title) + " | " : "" %>LocalCycle</title>
    <meta name="description" content="">
    <meta name="author" content="Macklin Chaffee DBA Golden Orb">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  <body class="public">
    <div id=""></div>
    <header id="header"></header>
    <div id="content" role="main">
      <div class="container">
        <div class="row">
          <div class="span6 offset3">
	    <div class="row">
	      <div class="panel centered">

		<h1><img src="assets/localcycle-logo.png" alt="LocalCycle" style="padding-top: -20px;" /> <span>L</span>ocal<span>C</span>ycle</h1>

		<hr />

		<p>LocalCycle provides local food organizers the flexible toolkit to <i><strong>create, manage, and scale wholesale marketplaces with distribution points.</strong></i><br />
                  <br />
                  Local farmers and buyers can join these marketplaces and are empowered to <i><strong>transact directly</strong></i> with one another, saving both time and money.
                </p>

		<hr />

		<h6>www.localcycle.org is currently in development, and is expected to be launching soon!</h6>
		<h6>Enter your email address below, and we’ll contact you when it’s up and running!</h6>

		<p id="response"></p>

		<%= form_for("lead", url: leads_path,  html: {class: "form-horizontal", action: "post", remote: true}) do |f| %>
		<div class="input-append">
		  <%= f.email_field :email, placeholder: "Enter your email..." %>
		  <%= f.submit "Notify me", class: "btn-success btn", style: "width: 120px;" %>
		</div>
		<small style="width: 120px;display: inline-block;">...but don't spam me</small>
		<% end %>
		
	      </div>
	    </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
